:root {
  --alimuhieddine-github-io-semantic-button-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-button-font-weight: 700;
  --alimuhieddine-github-io-semantic-button-font-size: 18px;
  --alimuhieddine-github-io-semantic-button-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-button-line-height: normal;
  --alimuhieddine-github-io-semantic-button-font-style: normal;
  --alimuhieddine-github-io-semantic-emphasis-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-emphasis-font-weight: 900;
  --alimuhieddine-github-io-semantic-emphasis-font-size: 24px;
  --alimuhieddine-github-io-semantic-emphasis-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-emphasis-line-height: normal;
  --alimuhieddine-github-io-semantic-emphasis-font-style: normal;
  --alimuhieddine-github-io-semantic-heading-1-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-heading-1-font-weight: 700;
  --alimuhieddine-github-io-semantic-heading-1-font-size: 56px;
  --alimuhieddine-github-io-semantic-heading-1-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-heading-1-line-height: 50.400001525878906px;
  --alimuhieddine-github-io-semantic-heading-1-font-style: normal;
  --alimuhieddine-github-io-semantic-heading-2-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-heading-2-font-weight: 700;
  --alimuhieddine-github-io-semantic-heading-2-font-size: 32px;
  --alimuhieddine-github-io-semantic-heading-2-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-heading-2-line-height: normal;
  --alimuhieddine-github-io-semantic-heading-2-font-style: normal;
  --alimuhieddine-github-io-semantic-heading-3-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-heading-3-font-weight: 700;
  --alimuhieddine-github-io-semantic-heading-3-font-size: 24px;
  --alimuhieddine-github-io-semantic-heading-3-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-heading-3-line-height: normal;
  --alimuhieddine-github-io-semantic-heading-3-font-style: normal;
  --alimuhieddine-github-io-semantic-heading-3-upper-font-family:
    "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-heading-3-upper-font-weight: 900;
  --alimuhieddine-github-io-semantic-heading-3-upper-font-size: 18px;
  --alimuhieddine-github-io-semantic-heading-3-upper-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-heading-3-upper-line-height: normal;
  --alimuhieddine-github-io-semantic-heading-3-upper-font-style: normal;
  --alimuhieddine-github-io-semantic-heading-4-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-heading-4-font-weight: 700;
  --alimuhieddine-github-io-semantic-heading-4-font-size: 23px;
  --alimuhieddine-github-io-semantic-heading-4-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-heading-4-line-height: normal;
  --alimuhieddine-github-io-semantic-heading-4-font-style: normal;
  --alimuhieddine-github-io-semantic-input-font-family: "Inter", Helvetica;
  --alimuhieddine-github-io-semantic-input-font-weight: 400;
  --alimuhieddine-github-io-semantic-input-font-size: 16px;
  --alimuhieddine-github-io-semantic-input-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-input-line-height: normal;
  --alimuhieddine-github-io-semantic-input-font-style: normal;
  --alimuhieddine-github-io-semantic-small-upper-font-family:
    "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-small-upper-font-weight: 900;
  --alimuhieddine-github-io-semantic-small-upper-font-size: 17px;
  --alimuhieddine-github-io-semantic-small-upper-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-small-upper-line-height: normal;
  --alimuhieddine-github-io-semantic-small-upper-font-style: normal;
  --alimuhieddine-github-io-semantic-strong-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-semantic-strong-font-weight: 700;
  --alimuhieddine-github-io-semantic-strong-font-size: 42px;
  --alimuhieddine-github-io-semantic-strong-letter-spacing: 0px;
  --alimuhieddine-github-io-semantic-strong-line-height: 37.79999923706055px;
  --alimuhieddine-github-io-semantic-strong-font-style: normal;
  --alimuhieddine-github-io-roboto-bold-upper-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-roboto-bold-upper-font-weight: 700;
  --alimuhieddine-github-io-roboto-bold-upper-font-size: 9px;
  --alimuhieddine-github-io-roboto-bold-upper-letter-spacing: 0.7200000286102295px;
  --alimuhieddine-github-io-roboto-bold-upper-line-height: normal;
  --alimuhieddine-github-io-roboto-bold-upper-font-style: normal;
  --alimuhieddine-github-io-roboto-regular-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-roboto-regular-font-weight: 400;
  --alimuhieddine-github-io-roboto-regular-font-size: 38px;
  --alimuhieddine-github-io-roboto-regular-letter-spacing: 0px;
  --alimuhieddine-github-io-roboto-regular-line-height: normal;
  --alimuhieddine-github-io-roboto-regular-font-style: normal;
  --alimuhieddine-github-io-roboto-bold-italic-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-roboto-bold-italic-font-weight: 700;
  --alimuhieddine-github-io-roboto-bold-italic-font-size: 18px;
  --alimuhieddine-github-io-roboto-bold-italic-letter-spacing: 0px;
  --alimuhieddine-github-io-roboto-bold-italic-line-height: normal;
  --alimuhieddine-github-io-roboto-bold-italic-font-style: italic;
  --alimuhieddine-github-io-roboto-black-italic-font-family:
    "Roboto", Helvetica;
  --alimuhieddine-github-io-roboto-black-italic-font-weight: 900;
  --alimuhieddine-github-io-roboto-black-italic-font-size: 18px;
  --alimuhieddine-github-io-roboto-black-italic-letter-spacing: 0px;
  --alimuhieddine-github-io-roboto-black-italic-line-height: normal;
  --alimuhieddine-github-io-roboto-black-italic-font-style: italic;
  --alimuhieddine-github-io-roboto-bold-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-roboto-bold-font-weight: 700;
  --alimuhieddine-github-io-roboto-bold-font-size: 27px;
  --alimuhieddine-github-io-roboto-bold-letter-spacing: 0px;
  --alimuhieddine-github-io-roboto-bold-line-height: normal;
  --alimuhieddine-github-io-roboto-bold-font-style: normal;
  --alimuhieddine-github-io-roboto-black-font-family: "Roboto", Helvetica;
  --alimuhieddine-github-io-roboto-black-font-weight: 900;
  --alimuhieddine-github-io-roboto-black-font-size: 52px;
  --alimuhieddine-github-io-roboto-black-letter-spacing: 0px;
  --alimuhieddine-github-io-roboto-black-line-height: normal;
  --alimuhieddine-github-io-roboto-black-font-style: normal;
  --semantic-link-font-family: "Roboto", Helvetica;
  --semantic-link-font-weight: 400;
  --semantic-link-font-size: 24px;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 24px;
  --semantic-link-font-style: normal;
  --semantic-heading-2-upper-font-family: "Roboto", Helvetica;
  --semantic-heading-2-upper-font-weight: 700;
  --semantic-heading-2-upper-font-size: 16px;
  --semantic-heading-2-upper-letter-spacing: 0.6399999856948853px;
  --semantic-heading-2-upper-line-height: normal;
  --semantic-heading-2-upper-font-style: normal;
  --semantic-heading-3-font-family: "Roboto", Helvetica;
  --semantic-heading-3-font-weight: 700;
  --semantic-heading-3-font-size: 17px;
  --semantic-heading-3-letter-spacing: 0px;
  --semantic-heading-3-line-height: 20.399999618530273px;
  --semantic-heading-3-font-style: normal;
  --semantic-small-font-family: "Roboto", Helvetica;
  --semantic-small-font-weight: 400;
  --semantic-small-font-size: 12px;
  --semantic-small-letter-spacing: 0px;
  --semantic-small-line-height: normal;
  --semantic-small-font-style: normal;
  --semantic-strong-font-family: "Roboto", Helvetica;
  --semantic-strong-font-weight: 900;
  --semantic-strong-font-size: 42px;
  --semantic-strong-letter-spacing: -1px;
  --semantic-strong-line-height: 36.119998931884766px;
  --semantic-strong-font-style: italic;
  --roboto-black-italic-font-family: "Roboto", Helvetica;
  --roboto-black-italic-font-weight: 900;
  --roboto-black-italic-font-size: 18px;
  --roboto-black-italic-letter-spacing: 0px;
  --roboto-black-italic-line-height: 18px;
  --roboto-black-italic-font-style: italic;
  --roboto-black-upper-font-family: "Roboto", Helvetica;
  --roboto-black-upper-font-weight: 900;
  --roboto-black-upper-font-size: 13px;
  --roboto-black-upper-letter-spacing: 0.38999998569488525px;
  --roboto-black-upper-line-height: normal;
  --roboto-black-upper-font-style: normal;
  --roboto-bold-font-family: "Roboto", Helvetica;
  --roboto-bold-font-weight: 700;
  --roboto-bold-font-size: 17px;
  --roboto-bold-letter-spacing: 0px;
  --roboto-bold-line-height: normal;
  --roboto-bold-font-style: normal;
  --roboto-extrabold-font-family: "Roboto", Helvetica;
  --roboto-extrabold-font-weight: 800;
  --roboto-extrabold-font-size: 22px;
  --roboto-extrabold-letter-spacing: 0px;
  --roboto-extrabold-line-height: normal;
  --roboto-extrabold-font-style: normal;
  --roboto-regular-font-family: "Roboto", Helvetica;
  --roboto-regular-font-weight: 400;
  --roboto-regular-font-size: 13.300000190734863px;
  --roboto-regular-letter-spacing: 0px;
  --roboto-regular-line-height: normal;
  --roboto-regular-font-style: normal;
  --roboto-semibold-font-family: "Roboto", Helvetica;
  --roboto-semibold-font-weight: 600;
  --roboto-semibold-font-size: 24px;
  --roboto-semibold-letter-spacing: 0px;
  --roboto-semibold-line-height: 30px;
  --roboto-semibold-font-style: normal;
  --roboto-black-font-family: "Roboto", Helvetica;
  --roboto-black-font-weight: 900;
  --roboto-black-font-size: 14px;
  --roboto-black-letter-spacing: 0px;
  --roboto-black-line-height: normal;
  --roboto-black-font-style: normal;
  --inter-regular-font-family: "Inter", Helvetica;
  --inter-regular-font-weight: 400;
  --inter-regular-font-size: 13px;
  --inter-regular-letter-spacing: 0px;
  --inter-regular-line-height: normal;
  --inter-regular-font-style: normal;
}
